/*

Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 ene. 2023, 19:50:17
    Author     : Laboratorios
*/
#titulo2b {
    color:blue;
    fon-family: sans-serif;
}
.titulo2g{
    color:green;
    font-family:time
        
}
section p{
    color : green 
}
aside p{
    color:brown 
}
            
        
  
 
