<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <html xmlns="http://www.w3.org/1999/xhtml">
        <head th:replace="~{layaout/plantilla :: head}"> 
            <title>TechShop</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <header th:replace="~{layaout/plantilla :: header}"></header>
            <h2>Datos de Cliente</h2>
            <hr>
            <a th:href="@{/}" >Regresar</a>
            <hr>
            <form th:action="@{/cliente/guardar}" method="post" th:object="${cliente}">
                <input type="hidden" name="idCliente" th:field="*{idCliente}">
                <label>Nombre</label>
                <input type="text" name="nombre" th:field="*{nombre}" required="true"/>

                <label>Apellidos</label>
                <input type="text" name="apellidos" th:field="*{apellidos}" required="true"/>
                <br>

                <label>Correo</label>
                <input type="email" name="correo" th:field="*{correo}" required="true"/>
                <br>

                <label>Telefono</label>
                <input type="tel" name="telefono" th:field="*{telefono}"/>
                <br>
                <hr>
                <input type="submit" value="Enviar" />
            </form>
            <footer th:replace="~{layaout/plantilla :: footer}"></footer>
        </body>
    </html>
