<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <html>
        <head>
            <title>TechShop</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <header th:fragment="header">
                <h1 style="background-color:black;color:white;text-align:center;">TechShop</h1>
                <br>
                <hr>
            </header>

            <footer th:fragment="footer">
                <p style="background-color:yellow;text-align:center;">&COPY; Todos los derechos reservados 2023</p>
                <br>
                <hr>
            </footer>
        </body>
    </html>
